#personalGeneralInfo {

  .example-title {
    font-size: 12px;
    text-transform: capitalize !important;
    opacity: 0.8;
    font-family: 'Helvetica' !important;
    margin-bottom: 5px;
  }

  .panel-primary {
    border-left: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    border-right: 1px solid #ddd;
    font-family: 'Helvetica' !important;
  }

}