.tree-container-custom{
  overflow: hidden!important;
  width: 350px;
  left:-335px;
  float: right;
  height:100vh;
  position: fixed;
  background: white;
  z-index: 100;
  .tree-btn{
    float: right;
    width:5px;
    height: 100vh;
    position: relative;
    padding: 0 5px 0 3px;
  }
  .tree-scroll{
    position: absolute;
    overflow: scroll;
    overflow-x: visible;
    height: calc(100% - 7.858rem);
  }
}
.page{
  overflow-x: hidden!important;
}